body{
	background-image:url(images/moko.jpg);
	background-size:cover;
	font-family:Raleway,Open Sans,Droid Sans,arial,sans-serif;
}

.bio{
	color: #fff;
	width:600px;
	height:600px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
}

h1,h2{
	font-weight:100;
}
h2{
	font-size:15px;
}

.social-links{margin-top:50px;}
a{

	color:#fff;
	text-decoration:none;
}
a:hover{text-decoration:underline}
.fa{margin:0 10px;}
